/*MRHeader.css*/

.header-wrapper {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 10000;
}

.header-wrapper .h-menu {
    background: rgb(250, 161, 32);
    background: linear-gradient(330deg,
    rgba(250, 161, 32, 1) 0%,
    rgba(252, 172, 56, 1) 60%,
    rgba(245, 195, 122, 0.6110819327731092) 85%);
    padding: 10px 0 10px 0;
    box-shadow: 0 0 5px 5px rgba(151, 92, 6, 0.33);
}

.header-wrapper .nav-menu li:not(:last-child) {
    padding-right: 12px;
}

.header-wrapper .nav-menu li a {
    text-decoration: none;
}

.header-wrapper .nav-menu li a:hover {
    border-bottom: 3px solid #6b9958;
}

.header-wrapper .no-border {
    border: none !important;
}

.header-wrapper .btn-log-out {
    background-color: #579843;
    border: 1px solid #530ea2;
    border-radius: 10px;
    padding: 0 10px;
    height: 80%;
    display: flex;
}

.header-wrapper .btn-log-out:hover {
    border: 1px #4a099a solid;
    background: linear-gradient(330deg,
    rgb(139, 208, 101) 0%,
    rgb(168, 214, 98) 60%,
    rgb(112, 188, 95) 85%);
    z-index: 1000;
}

.header-wrapper .nav-menu-right {
    display: flex;

}

.header-wrapper .nav-menu-right .nav-menu-right-dd {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header-wrapper .nav-menu-right .nav-menu-right-dd li:first-child {
    align-self: flex-end;
    height: 100%;
}
.header-wrapper .nav-menu-right .nav-menu-right-dd li ul {
    width:200px;
    right:0;
}

.header-wrapper .header-cart-icon, .header-down-icon {
    width: 55px;
    height: 55px;
}

.header-wrapper .header-down-icon {
    width: 25px;
    height: 25px;
}

.header-wrapper .header-down-icon svg {
    height: 100%;
    width: 100%;
}

.header-wrapper .header-cart-icon:hover {
    background-color: white;
    border-radius: 40%;
    padding: 5px;
    background-color: rgba(243, 218, 187, 0.61);

}

.header-wrapper .header-down-icon {

}

.header-wrapper .user-dd-menu {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 1.5em 10px;
    background-color: rgba(250, 161, 32, 0.3);
    border-radius: 0 0 20px 20px;
    display: none;
}

.header-wrapper .nav-menu-right-dd:hover ul.user-dd-menu {
    display: block !important;
}