.main-wrapper .cart-wrapper {
    flex: auto;
}

.main-wrapper .cart-wrapper .shopping-cart-title {
    padding: 40px;
    background-color: rgba(245, 195, 122, 0.65);
}

.main-wrapper .cart-wrapper .shopping-cart-cards {
    padding: 10px 10px 10px 0;
}

.main-wrapper .cart-wrapper .shopping-cart-cards div.card {
    flex-direction: row !important;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}

.main-wrapper .cart-wrapper .shopping-cart-checkout {
    padding: 10px 0;
}

.main-wrapper .cart-wrapper .shopping-cart-checkout div.card {
    padding: 5px;
}

.main-wrapper .cart-wrapper .shopping-cart-cards .shopping-cart-card-img {
    width: 25%;
}

.main-wrapper .cart-wrapper .shopping-cart-card-body {
    width: 50%;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-serving {
    background-color: #6b9958;
    padding: 0 5px;
    width: 30px;
    margin: 0 5px;
    border: none;
}

.main-wrapper .cart-wrapper .shopping-cart-serving-value {
    width: 75px;
}

.main-wrapper .cart-wrapper input.shopping-cart-serving-value::-webkit-outer-spin-button,
.main-wrapper .cart-wrapper input.shopping-cart-serving-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-serving:hover {
    border: 1px #4a099a solid;
    background: linear-gradient(330deg,
    rgb(139, 208, 101) 0%,
    rgb(168, 214, 98) 60%,
    rgb(112, 188, 95) 85%);
    z-index: 1000;
}

.main-wrapper .cart-wrapper .shopping-cart-serving-price,
.main-wrapper .cart-wrapper .shopping-cart-delivery-date,
.main-wrapper .cart-wrapper .shopping-cart-delivery-time {
    display: flex;
    justify-content: space-between;
}

.main-wrapper .cart-wrapper .shopping-cart-delivery-date select,
.main-wrapper .cart-wrapper .shopping-cart-delivery-time select,
.main-wrapper .cart-wrapper .shopping-cart-serving-price p:nth-child(2) {
    flex: 1;
}

.main-wrapper .cart-wrapper .shopping-cart-remove {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.main-wrapper .cart-wrapper .btn-remove-item {
    border: none;
    padding: 5px 15px;
    height: 2.5em;
    background-color: #dc3545;
    color: white !important;
}

.main-wrapper .cart-wrapper .btn-remove-item:hover {
    padding: 5px 15px;
    color: #dc3545 !important;
    background-color: transparent;
    border: 1px solid #dc3545;
}

.main-wrapper .cart-wrapper .order-summary-meals,
.main-wrapper .cart-wrapper .order-summary-servings,
.main-wrapper .cart-wrapper .order-summary-delivery-days,
.main-wrapper .cart-wrapper .order-summary-subtotal,
.main-wrapper .cart-wrapper .order-summary-shipping,
.main-wrapper .cart-wrapper .order-summary-total {
    display: flex;
    justify-content: space-between;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: #6b9958;
    height: 45px !important;
    text-decoration: none;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-checkout:hover {
    background: linear-gradient(330deg,
    rgb(139, 208, 101) 0%,
    rgb(168, 214, 98) 60%,
    rgb(112, 188, 95) 85%);
    z-index: 1000;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-view-recipe {
    border: none;
    background-color: transparent;
    color: #6b9958 !important;
    margin-left: 5px;
}

.main-wrapper .cart-wrapper .btn-shopping-cart-view-recipe:hover {
    text-decoration: underline;
}

.main-wrapper .cart-wrapper .shopping-cart-customize-it-recipe {
}