.main-wrapper .user-dashboard-wrapper {
    background-color: rgb(255 226 187);
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.user-dashboard-wrapper .dashboard-wrapper {
    display: flex;
    flex-grow: 1;
}

.dashboard-wrapper .user-menu {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 3em
}

.user-menu .user-menu-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.35);
}

.user-menu .user-menu-options p {
    padding: 5px;
    cursor: pointer;
}

.user-menu .user-menu-options p:hover {
    color: #6b9958 !important;
}

.user-menu-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.35);
}

.user-menu-body-title, .user-menu-body-main {
    background-color: rgba(255, 255, 255, 0.35);
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.user-menu-body-title {
    max-width: 100% !important;
    justify-content: center;
    border-bottom: 1px solid #6b9958;
}

.user-option-selected {
    background-color: lightgreen;
}

.user-option-selected:hover {
    background-color: rgba(255, 255, 255, 0.35);

}

.btn-save-user-information {
    border: none;
    background-color: #6b9958;
    padding: 10px 30px;
}


.btn-save-user-information:hover {
    background: linear-gradient(330deg,
    rgb(139, 208, 101) 0%,
    rgb(168, 214, 98) 60%,
    rgb(112, 188, 95) 85%);
    box-shadow: 10px 6px 12px 4px rgba(167, 117, 45, 0.33);
}