/*Login*/

.forgot-password-wrapper .forgot-password-container .forgot-password .forgot-password-card > div.card {
    width: 40%;
    border-radius: 10%;
}

.forgot-password-wrapper .forgot-password-container .forgot-password-card .forgot-password-submit-btn {
    border-radius: 10px;
    border: 1px solid #4a099a;
}


.forgot-password-wrapper .forgot-password-submit-btn:hover, .forgot-password-wrapper .btn-reset-code:hover {
    border: 1px #4a099a solid;
    background: linear-gradient(330deg,
    rgb(139, 208, 101) 0%,
    rgb(168, 214, 98) 60%,
    rgb(112, 188, 95) 85%);
    padding: 10px 0 10px 0;
    box-shadow: 10px 6px 12px 4px rgba(167, 117, 45, 0.33);
}

.forgot-password-wrapper .forgot-password-submit-btn {
    border: none;
    padding: 10px 20px;
    height: 3em;
    color: #4a099a;
    background-color: #6b9958;
}

.forgot-password-wrapper .fp-mail-sent {

    background-color: rgba(107, 153, 88, 0.2);
    border-radius: 10%;

}

.forgot-password-wrapper .fp-mail-sent svg.fp-ms-check-icon {
    fill: #6b9958;
}

.forgot-password-wrapper .btn-reset-code {
    border: 0;
    border-radius: 20px;
    background-color: #6b9958;
    color: #530ea2;
    height: 3em;
}



