/*App.css*/

body, p, h1, h2, h3, h4, h5, a, input, textarea, button {
    font-family: "Muli", "Helvetica Neue", Helmet, Freesans, sans-serif;
    font-weight: 600 !important;
    color: #4a099a !important;
    padding: 0;
    margin: 0;
}


.text-color-black {
    color: black !important;
}

.text-color-green {
    color: #6b9958 !important;
}

.text-color-mlgreen {
    color: #579843 !important;
}

.text-color-darkgreen {
    color: #0f4100 !important;
}

.text-color-purple {
    color: #4a099a !important;
}

.bg-light-lemon-green{
    background-color: #d7ffa2!important;
}

.bg-color-purple{
    background-color: #4a099a !important;
}

body .row, body .col, body .col-3, body ul, body .col-8, body .col-4, body .col-9 {
    padding: 0;
    margin: 0;
}

.font-size-1 {
    font-size: 1.2em !important;
}

.font-size-2 {
    font-size: 0.9em !important;
}

.font-size-3 {
    font-size: 0.7em !important;
}

.font-header-size-1 {
    font-size: 4em !important;
}

div.card:hover {
    box-shadow: 10px 6px 12px 4px rgba(167, 117, 45, 0.33);

}