/*App.css*/

body, p, h1, h2, h3, h4, h5, a, input, textarea, button {
    font-family: "Muli", "Helvetica Neue", Helmet, Freesans, sans-serif;
    font-weight: 600 !important;
    color: #4a099a !important;
    padding: 0;
    margin: 0;
}


.text-color-black {
    color: black !important;
}

.text-color-green {
    color: #6b9958 !important;
}

.text-color-mlgreen {
    color: #579843 !important;
}

.text-color-darkgreen {
    color: #0f4100 !important;
}

.text-color-purple {
    color: #4a099a !important;
}

.bg-light-lemon-green {
    background-color: #d7ffa2 !important;
}

.bg-color-purple {
    background-color: #4a099a !important;
}

body .row, body .col, body .col-3, body ul, body .col-8, body .col-4, body .col-9 {
    padding: 0;
    margin: 0;
}

.font-size-1 {
    font-size: 1.2em !important;
}

.font-size-2 {
    font-size: 0.9em !important;
}

.font-size-3 {
    font-size: 0.7em !important;
}

.font-header-size-1 {
    font-size: 4em !important;
}

div.card:hover {
    box-shadow: 10px 6px 12px 4px rgba(167, 117, 45, 0.33);

}


@media (max-width: 1199px) {

    /*admin dashboard*/
    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics .col-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .w-75 {
        width: 100% !important;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .admin-actions .btn-admin-action .w-50 {
        width: 75% !important;
    }

}

@media (max-width: 991px) {

    /*admin dashboard*/
    .admin-dashboard-wrapper .dashboard-wrapper .users-info .w-75 {
        width: 100% !important;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .admin-actions {
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        align-self: center;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .admin-actions :nth-child(2) {
        margin-right: 0 !important;
    }

}

@media (max-width: 767px) {

    /*user dashboard*/
    .user-dashboard-wrapper .dashboard-wrapper {
        flex-direction: column;
    }

    .user-dashboard-wrapper .dashboard-wrapper .col-4, .user-dashboard-wrapper .dashboard-wrapper .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /*admin dashboard*/
    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select {
        flex-direction: column !important;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select label {
        width: 25%;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select div.col > input {
        align-self: center;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select div.col:first-child > input {
        margin-bottom: 1rem;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select .col-2 {
        flex: 0 0 35%;
        max-width: 35%;
        margin-top: 1rem;
        padding: 0;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select .col-2 {
        flex: 0 0 35%;
        max-width: 35%;
        margin-top: 1rem;
        padding: 0;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select .btn-order-info-apply {
        width: 100%;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics .col-2 {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .admin-actions {
        flex-direction: column !important;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .admin-actions :nth-child(2) {
        margin: 0 !important;
    }

    .admin-dashboard-wrapper div.px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

}

@media (max-width: 480px) {

    /*user dashboard*/
    .user-dashboard-wrapper .dashboard-wrapper.px-5, .user-dashboard-wrapper .dashboard-wrapper .user-menu {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .user-info > div {
        flex-direction: column;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .user-info div .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info > div {
        flex-direction: column;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info .pl-1 {
        padding-left: 0 !important;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info .pr-1 {
        padding-right: 0 !important;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info > div .subs-info-date-and-time {
        flex-direction: column;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info-date-and-time div:first-child {
        margin-bottom: 1rem;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info > div div.row.d-flex {
        flex-direction: column;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info .w-75,
    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .subs-info .w-50 {
        width: 100% !important;
    }

    .user-dashboard-wrapper .dashboard-wrapper .user-menu-body-main .btn-apply-order-history {
        width: 100% !important;
    }

    /*admin dashboard*/
    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics div.col.d-flex {
        flex-direction: column;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics div.col.d-flex p {
        width: 50%;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics div.col.d-flex p:nth-child(2) {
        text-align: center;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-users-metrics div.d-flex {
        align-items: center;
    }

    .admin-dashboard-wrapper .dashboard-wrapper .users-info .adw-calendar-select .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (max-width: 374px) {

    /*admin dashboard*/

    .admin-dashboard-wrapper .dashboard-wrapper .users-info{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .admin-dashboard-wrapper div.px-5 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}